<p id="notice"><%= notice %></p>

<p>
  <strong>Top:</strong>
  <%= @all.top %>
</p>

<p>
  <strong>Text:</strong>
  <%= @all.text %>
</p>

<%= link_to 'Edit', edit_all_path(@all) %> |
<%= link_to 'Back', alls_path %>
